# ===================
# General Python Ignore
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env, logs, compiled
*.log
*.egg-info/
.env/
venv/
build/
dist/

# VSCode
.vscode/

# Output & data
Output/
Data/Image/
Data/Pengujian/

# ===================
# Arduino Ignore
Arduino/**/*.hex
Arduino/**/*.elf
Arduino/**/*.bin
Arduino/**/*.eep
Arduino/**/*.map
Arduino/**/*.o
Arduino/**/*.d
Arduino/**/*.bak
Arduino/**/*~

# Optional: Ignore full Arduino folder
# Arduino/
